body {
    margin: 0;
}

.header {
    border-bottom: 1px;
    border: 1px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

.links li a {
   list-style: none;

}